.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 2;
}


.header__left {
    display: flex;
    height: 24px;
    background-color: white;
}

.header__left__menu {
    margin: 0 24px;
    height: 24px;
}

.header__left__logo {
    height: 24px;
}


.header__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 500px;
}

.header__middle__input {
    height: 36px;
    width: 100%;
    padding-left: 10px;
    border-radius: 2px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-family: Roboto, Arial;
    font-size: 14px;
    color: blueviolet;
}

.header__middle__input::placeholder {
    font-size: 16px;
    color: rgb(54, 5, 133);
}


.header__middle__search {
    height: 39px;
    width: 66px;
    margin-left: -1px;
    border-radius: 2px;
    border: 1px solid rgb(192, 192, 192);
}

.header__middle__search__img {
    margin-top: 4px;
    height: 24px;
}

.header__middle__vsearch {
    height: 38px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
}

.header__middle__vsearch__img {
    margin-top: 4px;
    height: 25px;
}


.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 180px;
}


.tooltip {
    position: relative;   
   
}

.icon-counter {
    position: relative;   
    display: flex;  
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    padding: 4px 8px;
    display: block;
    margin-top: 20px;
    margin-left: -20px;
    border-radius: 2px;
    color: white;
    background-color: darkgrey;
    white-space: nowrap;
}

.notification-counter {
    position: absolute;
    top: -5px;
    right: -8px;
    border: 1px solid red;
    padding: 2px 5px;
    background-color: red;
    border-radius: 50%;
    z-index: 5;
    color: white;
    font-size: 11px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

